@import "variables";
@import "mixins";

nav{
    background-color: $deepBlue;
    ul{
        width:100%;
        list-style-type: none;
        padding: 5px;
        @include clearFix;
    }
    li{
        float: left;
        
        margin-left: 10px;
        background-color: yellow;
    }
    a{
        text-decoration: none;
        padding:10px;
        display: block;
        text-align: center;
    }
}