$color:#000;
$colorFF000:#ff0000;

$deepBlue:#215584;
$contentBackground:#3cb878;
$recommendTextColor:#3c745b;

*{
    margin:0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
}
.center{
    width:1000px;
}
